Repository kubestellar/infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-infra-validate-prow-jobs, pull-infra-prow-labelsync

prow/jobs/kubestellar/infra/infra-presubmits.yaml:

presubmits:
  kubestellar/infra:
    - name: pull-infra-validate-prow-yaml
      always_run: true
      decorate: true
      clone_uri: "ssh://git@github.com/kubestellar/infra.git"
      spec:
        containers:
          - image: us-docker.pkg.dev/k8s-infra-prow/images/checkconfig:v20260109-e821f0db6
            command:
              - checkconfig
            args:
              - -plugin-config=/home/prow/go/src/github.com/kubestellar/infra/prow/plugins.yaml
              - -config-path=/home/prow/go/src/github.com/kubestellar/infra/prow/config.yaml
              - -job-config-path=/home/prow/go/src/github.com/kubestellar/infra/prow/jobs
              - -prow-yaml-repo-name=$(REPO_OWNER)/$(REPO_NAME)

    - name: pull-infra-validate-prow-jobs
      decorate: true
      clone_uri: "ssh://git@github.com/kubestellar/infra.git"
      run_if_changed: "prow/jobs/"
      branches:
        - ^main$
      spec:
        containers:
          - image: us-docker.pkg.dev/k8s-infra-prow/images/checkconfig:v20260109-e821f0db6
            command:
              - checkconfig
            args:
              - -plugin-config=/home/prow/go/src/github.com/kubestellar/infra/prow/plugins.yaml
              - -config-path=/home/prow/go/src/github.com/kubestellar/infra/prow/config.yaml
              - -job-config-path=/home/prow/go/src/github.com/kubestellar/infra/prow/jobs
              - -strict

    - name: pull-infra-prow-labelsync
      cluster: prow
      labels:
        app: label-sync
      decorate: true
      clone_uri: "ssh://git@github.com/kubestellar/infra.git"
      run_if_changed: '^prow/labels.yaml$'
      spec:
        containers:
        - image: gcr.io/k8s-prow/label_sync:v20230523-2834e18241
          command:
          - label_sync
          args:
          - --config=/home/prow/go/src/github.com/kubestellar/infra/prow/labels.yaml
          - --orgs=kubestellar
          - --token=/etc/oauth-token/token
          - --endpoint=http://ghproxy.prow.svc.cluster.local
          - --endpoint=https://api.github.com
          - --debug
          volumeMounts:
          - name: oauth-token
            mountPath: /etc/oauth-token
            readOnly: true
        volumes:
        - name: oauth-token
          secret:
            secretName: github-token

🐛 Sync hook deployment manifest with running config
  clusters/prow/manifests/prow/01-hook.yaml
Due: none

🌱 Test: Verify pull-infra-validate-prow-jobs triggers
  prow/jobs/kubestellar/infra/infra-presubmits.yaml
Due: pull-infra-validate-prow-jobs

Fix strict validation warnings in Prow config
  prow/config.yaml
Due: none

Test: trigger pull-infra-validate-prow-jobs
  prow/jobs/kubestellar/infra/infra-presubmits.yaml
Due: pull-infra-validate-prow-jobs

🐛 Fix uv PATH in a2a presubmit jobs
  prow/jobs/kubestellar/a2a/a2a-presubmits.yaml
Due: pull-infra-validate-prow-jobs

🐛 Fix uv PATH in a2a presubmit jobs (#65)
  prow/jobs/kubestellar/a2a/a2a-presubmits.yaml
Due: pull-infra-validate-prow-jobs

Replace ezrasilvera with KPRoche in OWNERS
  OWNERS
Due: none

🐛 Remove validate-prow-yaml job from a2a
  prow/jobs/kubestellar/a2a/a2a-presubmits.yaml
Due: pull-infra-validate-prow-jobs

🐛 Remove validate-prow-yaml job from a2a (#66)
  prow/jobs/kubestellar/a2a/a2a-presubmits.yaml
Due: pull-infra-validate-prow-jobs

🌱 Test: Verify Prow and CI across org
  README.md
Due: none

Fix SSH clone URIs to use HTTPS in Prow jobs
  prow/jobs/kubestellar/infra/infra-periodics-lifecycle.yaml
  prow/jobs/kubestellar/kubeflex/kubeflex-presubmits.yaml
  prow/jobs/kubestellar/kubestellar/kubestellar-presubmits.yaml
  prow/jobs/kubestellar/ui/ui-presubmits.yaml
Due: pull-infra-validate-prow-jobs

fix: use default cluster for periodic lifecycle jobs
  prow/jobs/kubestellar/infra/infra-periodics-lifecycle.yaml
Due: pull-infra-validate-prow-jobs

Add kind/test label to default labels
  prow/labels.yaml
Due: pull-infra-prow-labelsync

Fix labelsync job to use cluster: default
  prow/jobs/kubestellar/infra/infra-presubmits.yaml
Due: pull-infra-validate-prow-jobs

Fix CI workflow and Prow job issues
  .github/workflows/reusable-feedback.yml
  .github/workflows/reusable-scorecard.yml
  prow/jobs/kubestellar/a2a/a2a-presubmits.yaml
Due: pull-infra-validate-prow-jobs

Add reusable assignment-helper workflow
  .github/workflows/reusable-assignment-helper.yml
Due: none

Fix reusable-feedback.yml: remove issues: write permission
  .github/workflows/reusable-feedback.yml
Due: none

Fix greetings workflow: use env vars for messages
  .github/workflows/reusable-greetings.yml
Due: none

Fix greetings.yml: move permissions to workflow level
  .github/workflows/greetings.yml
Due: none

Test: Verify greetings workflow
  README.md
Due: none

✨ Enhance contributor greetings with adoption focus
  .github/workflows/label-helper.yml
  .github/workflows/reusable-feedback.yml
  .github/workflows/reusable-greetings.yml
  .github/workflows/reusable-label-helper.yml
Due: none

✨ Enhance contributor greetings with adoption focus (#80)
  .github/workflows/label-helper.yml
  .github/workflows/reusable-feedback.yml
  .github/workflows/reusable-greetings.yml
  .github/workflows/reusable-label-helper.yml
Due: none

🐛 Fix label-helper workflow permissions
  .github/workflows/label-helper.yml
Due: none

🐛 Fix label-helper workflow permissions (#82)
  .github/workflows/label-helper.yml
Due: none

🌱 Greet all contributors, not just first-timers
  .github/workflows/reusable-greetings.yml
Due: none

🌱 Fix scorecard reusable workflow permissions
  .github/workflows/reusable-scorecard.yml
Due: none

🌱 Move sync workflow and caller workflows to infra
  .github/workflows/sync-workflows.yml
  caller-workflows/add-help-wanted.yml
  caller-workflows/assignment-helper.yml
  caller-workflows/feedback.yml
  caller-workflows/greetings.yml
  caller-workflows/label-helper.yml
  caller-workflows/pr-verifier.yml
  caller-workflows/pr-verify-title.yml
  caller-workflows/scorecard.yml
Due: none

🌱 Add docs link checker workflow
  .github/workflows/docs-link-checker.yml
Due: none

🌱 Update link checker to close fixed issues
  .github/workflows/docs-link-checker.yml
Due: none

🌱 Simplify CLOTributor URL in greetings
  .github/workflows/reusable-greetings.yml
Due: none

🌱 Update Quick Start link in greetings
  .github/workflows/reusable-greetings.yml
Due: none

🌱 Make all greeting links open in new tabs
  .github/workflows/reusable-greetings.yml
Due: none

🌱 Revert to markdown links (GitHub strips target=_blank)
  .github/workflows/reusable-greetings.yml
Due: none

🌱 Update issue links to search all org repos
  .github/workflows/reusable-greetings.yml
Due: none

🐛 fix: use heredocs in docs-link-checker workflow
  .github/workflows/docs-link-checker.yml
Due: none

🐛 fix: use heredocs in docs-link-checker workflow (#84)
  .github/workflows/docs-link-checker.yml
Due: none

🌱 Exclude private and archived repos from workflow sync
  .github/workflows/sync-workflows.yml
Due: none

🌱 Exclude private and archived repos from workflow sync (#85)
  .github/workflows/sync-workflows.yml
Due: none

🐛 fix: remove heredocs causing YAML syntax errors
  .github/workflows/docs-link-checker.yml
Due: none

🐛 fix: use printf for issue body to avoid YAML parsing issues
  .github/workflows/docs-link-checker.yml
Due: none
